// Body
$body-bg: #f8fafc;
//$body-bg:black;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// new styles
$badge-border-radius: 10px;
$success-badge-padding-x: 1em;
$success-badge-padding-y: 0.25em;
$success-badge-color: red;