* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.con {
    position: absolute;
    background: rgba(218, 20, 20, 0);
    top: 50px;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con nav {
    background: transparent;
    padding: 10px;
}

.con nav ul li {
    list-style: none;
    display: inline-block;
    padding: 40px;
    margin: 3px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

.con nav ul li::after {
    content: '';
    background: #FFC01F;
    /* Red color */
    width: 80%;
    height: 80%;
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, height 0.5s, width 0.5s, opacity 0.5s;
}

.con nav ul li:hover {
    color: rgb(0, 0, 0);
}

.con nav ul li:hover::after {
    top: 50%;
    width: 100%;
    height: 40%;
    opacity: 1;
}